@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.section-padding {
  padding: 96px 0px;
}

.bg-blue {
  background-color: #F6FBFF;
}

.bold-600 {
  font-weight: 600 !important;
}

.mb-48 {
  margin-bottom: 48px;
}

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #232631;
}

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #232631;
}

.heading-3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #232631;
}

.heading-4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #232631;
}

.text-desc-1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #374151;
}

.text-desc-2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #656565;
}

.text-desc-3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #656565;
}

.txt-blue {
  color: #007ADC;
}

.container {
  max-width: 1200px;
}

.navbar a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12pt;
}

.navbar li {
  margin-right: 30px;
}

.txt-home {
  padding-top: 15px;
}

.img-home {
  width: 80%;
}

#home button {
  height: 47px;
}

#home button:nth-child(2) {
  color: #4B5563;
  border-color: #6D7280;
}

#keunggulan-pantai .heading-2 {
  margin-bottom: 48px;
}

#keunggulan-pantai .card-title {
  margin: 16px 0px;
  font-weight: 600;
}

#keunggulan-pantai .d-grid {
  margin-top: 48px;
}

#keunggulan-pantai img {
  width: 58px;
  height: 58px;
}

#keunggulan-pantai button {
  color: #007ADC;
  font-weight: 600;
}

#keunggulan-pantai button:hover {
  color: #fff;
  background-color: #007ADC !important;
}

.img-tentang-pantai {
  width: 90%;
}

#tentang-pantai .text-desc-2 {
  margin-top: 24px;
  text-align: start;
}

#tentang-pantai button {
  height: 47px;
}

#fasilitas-pantai img {
  width: 90%;
}

.mt-fasilitas-pantai {
  margin-top: 32px !important;
}

#fasilitas-pantai .mt-32 {
  margin-top: 32px !important;
}

#fasilitas-pantai .text-desc-1 {
  font-weight: 600;
}

#kuliner .heading-2 {
  margin-bottom: 48px;
}
#kuliner .swiper .swiper-slide {
  max-width: 260px !important;
}
#kuliner .swiper .swiper-slide img {
  max-width: 260px !important;
  margin-bottom: 16px;
}

#ulasan p.text-desc-2 {
  max-width: 340px;
}
#ulasan .swiper-slide {
  cursor: grab;
}
#ulasan .swiper-slide .ulasan-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: justify;
  color: #232631;
  margin-bottom: 32px;
}
#ulasan .swiper-slide img {
  width: 40px;
  height: 40px;
}
#ulasan .swiper-slide h6.text-desc-2 {
  color: #232631;
  font-weight: 500;
  margin: 0;
}
#ulasan .swiper-pagination {
  text-align: right !important;
}
#ulasan .swiper-pagination .swiper-pagination-bullet {
  background: #93C5FD;
}
#ulasan .swiper-pagination swiper-pagination-bullet-active {
  background: #3B82F6;
}

#informasi-pantai .heading-2 {
  margin-bottom: 64px;
}

#informasi-pantai .mt {
  margin-top: 0px;
}

#informasi-pantai button {
  height: 47px;
}

#blog-terbaru button {
  height: 47px;
}

#blog-terbaru img {
  width: 100%;
}

#blog-terbaru a {
  text-decoration: none;
}

#blog-terbaru .text-desc-2 {
  text-align: justify;
}

#blog-terbaru span {
  padding: 2px 10px;
  border-radius: 16px;
  background: #D9EBFA;
  color: #007ADC;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

#faq .heading-4 span {
  color: #007ADC;
  margin-right: 20px;
}

footer ul {
  padding-left: unset;
}
footer li {
  list-style: none;
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
}
footer p {
  margin-bottom: unset;
}
footer .mw-350 {
  max-width: 350px;
}
footer .contact {
  background-color: #007ADC;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
footer .section-padding {
  padding-bottom: unset;
}
footer span {
  color: #3B82F6;
}
footer .social-media a {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .txt-home {
    padding: unset;
  }

  #imgTagLine {
    display: none;
  }

  .section-padding {
    padding: 43px 0px;
  }

  .img-tentang-pantai {
    width: 100%;
    margin-bottom: 24px;
  }

  #fasilitas-pantai img {
    display: none;
  }

  #fasilitas-pantai .mt-32 {
    margin-top: unset !important;
  }

  #informasi-pantai .mt {
    margin-top: 1rem;
  }

  #blog-terbaru .card {
    margin-bottom: 36px;
  }

  #blog-terbaru button {
    height: 70px;
  }

  footer .copyright {
    margin-bottom: 10px;
  }

  #col-email {
    margin-bottom: 10px;
  }

  footer .flex-col {
    flex-direction: column;
  }
}
#detailBlog .head-articel {
  max-width: 780px;
  margin-bottom: 32px;
}
#detailBlog .head-articel span {
  padding: 2px 10px;
  border-radius: 16px;
  background: #D9EBFA;
  color: #007ADC;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
#detailBlog .head-articel p {
  margin-bottom: 0;
}
#detailBlog img {
  max-width: 978px;
  width: 100%;
  height: auto;
  object-fit: center;
  margin-bottom: 32px;
}
#detailBlog .body-articel {
  max-width: 780px;
}
#detailBlog .body-articel p {
  margin-bottom: 24px;
  text-align: justify;
}
#detailBlog .body-articel h4 {
  margin-bottom: 24px;
}

#blogRecomendation {
  max-width: 780px;
}
#blogRecomendation .blog-rekomendation {
  margin-top: 32px;
  gap: 32px;
}
#blogRecomendation .blog-rekomendation .card-rekomendation span {
  padding: 2px 10px;
  border-radius: 16px;
  background: #D9EBFA;
  color: #007ADC;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

@media (max-width: 620px) {
  .card-rekomendation.d-flex {
    flex-direction: column;
  }
  .card-rekomendation.d-flex img {
    width: 100%;
    height: auto;
    object-fit: center;
  }
}
#detailKejawanan .head-articel {
  max-width: 780px;
  margin-bottom: 32px;
}
#detailKejawanan .head-articel span {
  padding: 2px 10px;
  border-radius: 16px;
  background: #D9EBFA;
  color: #007ADC;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
#detailKejawanan .head-articel p {
  margin-bottom: 0;
}
#detailKejawanan iframe {
  max-width: 978px;
  width: 100%;
  height: 500px;
  object-fit: center;
  margin-bottom: 32px;
}
#detailKejawanan .body-articel {
  max-width: 780px;
}
#detailKejawanan .body-articel p {
  margin-bottom: 24px;
  text-align: justify;
}
#detailKejawanan .body-articel p.indent {
  text-indent: 32px;
}
#detailKejawanan .body-articel h4 {
  margin-bottom: 24px;
}

@media (max-width: 620px) {
  #detailKejawanan iframe {
    height: 150px;
  }
}
#searchBlog .title {
  max-width: 800px;
  margin-bottom: 32px;
}
#searchBlog .search {
  max-width: 800px;
  width: 100%;
}
#searchBlog .search .filter-search {
  width: 100%;
}
#searchBlog .search .filter-tab {
  overflow-y: auto;
}
#searchBlog .search .filter-tab .item-filter.active {
  color: #007ADC;
  font-weight: 500;
}
#searchBlog .search .filter-tab .item-filter {
  cursor: pointer;
  text-transform: capitalize;
  white-space: nowrap;
}
#searchBlog .search .filter-tab .item-filter:hover {
  font-weight: 500;
}

#listBlog .parent {
  display: grid;
  justify-content: space-between;
  gap: 32px;
  grid-template-areas: "nth1 nth1 nth1 nth2 nth2 nth2" "nth1 nth1 nth1 nth3 nth3 nth3" "nth1 nth1 nth1 nth4 nth4 nth4" "nth1 nth1 nth1 nth5 nth5 nth5" "nth6 nth6 nth7 nth7 nth8 nth8";
}
#listBlog .parent a {
  text-decoration: none;
}
#listBlog .parent span {
  padding: 2px 10px;
  border-radius: 16px;
  background: #D9EBFA;
  color: #007ADC;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
#listBlog .parent .card-blog:nth-child(1) {
  grid-area: nth1;
}
#listBlog .parent .card-blog:nth-child(2) {
  grid-area: nth2;
}
#listBlog .parent .card-blog:nth-child(3) {
  grid-area: nth3;
}
#listBlog .parent .card-blog:nth-child(4) {
  grid-area: nth4;
}
#listBlog .parent .card-blog:nth-child(5) {
  grid-area: nth5;
}
#listBlog .parent .card-blog:nth-child(6) {
  grid-area: nth6;
}
#listBlog .parent .card-blog:nth-child(7) {
  grid-area: nth7;
}
#listBlog .parent .card-blog:nth-child(8) {
  grid-area: nth8;
}
#listBlog .parent .card-blog:nth-child(2) .card,
#listBlog .parent .card-blog:nth-child(3) .card,
#listBlog .parent .card-blog:nth-child(4) .card,
#listBlog .parent .card-blog:nth-child(5) .card {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}
#listBlog .parent .card-blog:nth-child(2) .card img,
#listBlog .parent .card-blog:nth-child(3) .card img,
#listBlog .parent .card-blog:nth-child(4) .card img,
#listBlog .parent .card-blog:nth-child(5) .card img {
  width: 120px;
  height: 120px;
  object-fit: center;
}
#listBlog .parent .card-blog:nth-child(2) .card .card-body,
#listBlog .parent .card-blog:nth-child(3) .card .card-body,
#listBlog .parent .card-blog:nth-child(4) .card .card-body,
#listBlog .parent .card-blog:nth-child(5) .card .card-body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
#listBlog .parent .card-blog:nth-child(2) .card .card-body .mt-3,
#listBlog .parent .card-blog:nth-child(3) .card .card-body .mt-3,
#listBlog .parent .card-blog:nth-child(4) .card .card-body .mt-3,
#listBlog .parent .card-blog:nth-child(5) .card .card-body .mt-3 {
  margin-top: 0 !important;
}
#listBlog .parent .card-blog:nth-child(2) .card .card-body .heading-3,
#listBlog .parent .card-blog:nth-child(3) .card .card-body .heading-3,
#listBlog .parent .card-blog:nth-child(4) .card .card-body .heading-3,
#listBlog .parent .card-blog:nth-child(5) .card .card-body .heading-3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #232631;
}
#listBlog .parent .card-blog:nth-child(2) .card .card-body p, #listBlog .parent .card-blog:nth-child(2) .card .card-body span,
#listBlog .parent .card-blog:nth-child(3) .card .card-body p,
#listBlog .parent .card-blog:nth-child(3) .card .card-body span,
#listBlog .parent .card-blog:nth-child(4) .card .card-body p,
#listBlog .parent .card-blog:nth-child(4) .card .card-body span,
#listBlog .parent .card-blog:nth-child(5) .card .card-body p,
#listBlog .parent .card-blog:nth-child(5) .card .card-body span {
  display: none;
}
#listBlog .parent .card-blog:nth-child(6),
#listBlog .parent .card-blog:nth-child(7),
#listBlog .parent .card-blog:nth-child(8) {
  width: 400px;
}
#listBlog .parent .card-blog:nth-child(6) img,
#listBlog .parent .card-blog:nth-child(7) img,
#listBlog .parent .card-blog:nth-child(8) img {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 820px) {
  #listBlog .parent {
    display: grid;
    justify-content: center;
    gap: 32px;
    grid-template-areas: "nth1" "nth2" "nth3" "nth4" "nth5" "nth6" "nth7" "nth8";
  }
  #listBlog .parent .card-blog {
    max-width: 400px;
  }
  #listBlog .parent .card-blog:nth-child(1) {
    grid-area: nth1;
  }
  #listBlog .parent .card-blog:nth-child(2) {
    grid-area: nth2;
  }
  #listBlog .parent .card-blog:nth-child(3) {
    grid-area: nth3;
  }
  #listBlog .parent .card-blog:nth-child(4) {
    grid-area: nth4;
  }
  #listBlog .parent .card-blog:nth-child(5) {
    grid-area: nth5;
  }
  #listBlog .parent .card-blog:nth-child(6) {
    grid-area: nth6;
  }
  #listBlog .parent .card-blog:nth-child(7) {
    grid-area: nth7;
  }
  #listBlog .parent .card-blog:nth-child(8) {
    grid-area: nth8;
  }
  #listBlog .parent .card-blog:nth-child(2) .card,
#listBlog .parent .card-blog:nth-child(3) .card,
#listBlog .parent .card-blog:nth-child(4) .card,
#listBlog .parent .card-blog:nth-child(5) .card {
    display: block;
    flex-direction: row-reverse;
    gap: 16px;
  }
  #listBlog .parent .card-blog:nth-child(2) .card img,
#listBlog .parent .card-blog:nth-child(3) .card img,
#listBlog .parent .card-blog:nth-child(4) .card img,
#listBlog .parent .card-blog:nth-child(5) .card img {
    width: 100%;
    height: auto;
    object-fit: center;
  }
  #listBlog .parent .card-blog:nth-child(2) .card .card-body,
#listBlog .parent .card-blog:nth-child(3) .card .card-body,
#listBlog .parent .card-blog:nth-child(4) .card .card-body,
#listBlog .parent .card-blog:nth-child(5) .card .card-body {
    display: block;
  }
  #listBlog .parent .card-blog:nth-child(2) .card .card-body .mt-3,
#listBlog .parent .card-blog:nth-child(3) .card .card-body .mt-3,
#listBlog .parent .card-blog:nth-child(4) .card .card-body .mt-3,
#listBlog .parent .card-blog:nth-child(5) .card .card-body .mt-3 {
    margin-top: 16px !important;
  }
  #listBlog .parent .card-blog:nth-child(2) .card .card-body .heading-3,
#listBlog .parent .card-blog:nth-child(3) .card .card-body .heading-3,
#listBlog .parent .card-blog:nth-child(4) .card .card-body .heading-3,
#listBlog .parent .card-blog:nth-child(5) .card .card-body .heading-3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #232631;
  }
  #listBlog .parent .card-blog:nth-child(2) .card .card-body p, #listBlog .parent .card-blog:nth-child(2) .card .card-body span,
#listBlog .parent .card-blog:nth-child(3) .card .card-body p,
#listBlog .parent .card-blog:nth-child(3) .card .card-body span,
#listBlog .parent .card-blog:nth-child(4) .card .card-body p,
#listBlog .parent .card-blog:nth-child(4) .card .card-body span,
#listBlog .parent .card-blog:nth-child(5) .card .card-body p,
#listBlog .parent .card-blog:nth-child(5) .card .card-body span {
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
