// import font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variable
$color-primary-80: #007ADC; // button default
$color-primary-50: #D9EBFA;
$color-text-title: #232631; // title
$color-text-desc-1: #374151;  // desc title, paraghrap
$color-text-desc-2: #656565; // desc card
$color-stroke: #6D7280; // border color
$bg-color-whhite: #FFFFFF; // bg section white
$bg-color-blue: #F6FBFF; //bg color
$font-family-poppins: 'Poppins', sans-serif;

// set properties
* {
  margin: 0;
  padding: 0;
  font-family: $font-family-poppins;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img {
  max-width: 100%;
}
.section-padding {
  padding: 96px 0px;
}
.bg-blue{
  background-color: $bg-color-blue;
}
.bold-600{
  font-weight: 600 !important;
}
.mb-48 {
  margin-bottom: 48px;
}

// text
.heading-1{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: $color-text-title;
}
.heading-2{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: $color-text-title;
}
.heading-3{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $color-text-title;
}
.heading-4{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $color-text-title;
}
.text-desc-1{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-text-desc-1;
}
.text-desc-2{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $color-text-desc-2;
}
.text-desc-3{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-text-desc-2;
}
.txt-blue{
  color: $color-primary-80;
}

// container
.container{
  max-width: 1200px;
}

// navbar component
.navbar a {
  font-family: $font-family-poppins;
  font-weight: 500;
  font-size: 12pt;
}
.navbar li{
  margin-right: 30px;
}
// end navbar component

// index.html
// =====================================
// home component
.txt-home{
  padding-top: 15px;
}
.img-home{
  width: 80%;
}
#home button{
  height: 47px;
}
#home button:nth-child(2){
  color: #4B5563;
  border-color: #6D7280;
}
// end home component

// keunggulan_pantai component
#keunggulan-pantai .heading-2{
  margin-bottom: 48px;
}
#keunggulan-pantai .card-title{
  margin: 16px 0px;
  font-weight: 600;
}
#keunggulan-pantai .d-grid{
  margin-top: 48px;
}
#keunggulan-pantai img{
  width: 58px;
  height: 58px;
}
#keunggulan-pantai button{
  color: $color-primary-80;
  font-weight: 600;
}
#keunggulan-pantai button:hover{
  color: #fff;
  background-color: $color-primary-80 !important;
}
// end keunggulan_pantai component

// tentang pantai component
.img-tentang-pantai{
  width: 90%;
}
#tentang-pantai .text-desc-2{
  margin-top: 24px;
  text-align: start;
}
#tentang-pantai button{
  height: 47px;
}
// end tentang pantai component

// fasilitas pantai component
#fasilitas-pantai img {
  width: 90%;
}
.mt-fasilitas-pantai{
  margin-top: 32px !important;
}
#fasilitas-pantai .mt-32{
  margin-top: 32px !important;
}
#fasilitas-pantai .text-desc-1{
  font-weight: 600;
}
// end fasilitas pantai component

// kuliner
#kuliner{
  .heading-2{
    margin-bottom: 48px;
  }
  .swiper {
    .swiper-slide {
      max-width: 260px!important;
      img{
        max-width: 260px!important;
        margin-bottom: 16px;
      }
    }
  }
}
// end kuliner

// kuliner
#ulasan{
  p.text-desc-2{
    max-width: 340px;
  }
  .swiper-slide{
    cursor: grab;

    .ulasan-text{
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-align: justify;
      color: $color-text-title;
      margin-bottom: 32px;
    }
    img{
      width: 40px;
      height: 40px;
    }
    h6.text-desc-2{
      color: $color-text-title;
      font-weight: 500;
      margin: 0;
    }
  }
  .swiper-pagination{
    text-align: right!important;
    .swiper-pagination-bullet{
      background: #93C5FD;
    }
    swiper-pagination-bullet-active{
      background: #3B82F6;
    }
  }
}
// end kuliner

// informasi pantai
#informasi-pantai .heading-2{
  margin-bottom: 64px;
}
#informasi-pantai .mt{
  margin-top: 0px;
}

#informasi-pantai button {
  height: 47px;
}
// end informasi pantai

// new blog
#blog-terbaru button {
  height: 47px;
}

#blog-terbaru img {
  width: 100%;
}

#blog-terbaru a {
  text-decoration: none;
}

#blog-terbaru .text-desc-2 {
  text-align: justify;
}

#blog-terbaru span {
  padding: 2px 10px;
  border-radius: 16px;
  background: $color-primary-50;
  color: $color-primary-80;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
// end new blog

// faq
#faq .heading-4 span{
  color: $color-primary-80;
  margin-right: 20px;
}
// end faq

// footer
footer {
  ul{
    padding-left: unset;
  }
  li{
    list-style: none;
    margin-bottom: 10px;
  }
  a{
    text-decoration: none;
  }
  p{
    margin-bottom: unset;
  }
  .mw-350{
    max-width: 350px;
  }
  .contact {
    background-color: $color-primary-80;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .section-padding{
    padding-bottom: unset;
  }
  span{
    color: #3B82F6;
  }
  .social-media{
    a{
      margin-left: 20px;
    }
  }
}
// end footer

@media (max-width: 768px) {
  .txt-home {
    padding: unset;
  }

  #imgTagLine {
    display: none;
  }

  .section-padding {
    padding: 43px 0px;
  }
    
  .img-tentang-pantai {
    width: 100%;
    margin-bottom: 24px;
  }
  
  #fasilitas-pantai img {
    display: none;
  }
  
  #fasilitas-pantai .mt-32 {
    margin-top: unset !important;
  }

  #informasi-pantai .mt {
    margin-top: 1rem;
  }

  #blog-terbaru .card {
    margin-bottom: 36px;
  }

  #blog-terbaru button{
   height: 70px;
  }
  
  footer .copyright{
    margin-bottom: 10px;
  }

  #col-email{
    margin-bottom: 10px;
  }

  footer .flex-col{
    flex-direction: column;
  }
}

// detail-blog.html
// =====================================
#detailBlog{
  .head-articel{
    max-width: 780px;
    margin-bottom: 32px;
    span{
      padding: 2px 10px;
      border-radius: 16px;
      background: $color-primary-50;
      color: $color-primary-80;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
    }
    p{
      margin-bottom: 0;
    }
  }
  img{
    max-width: 978px;
    width: 100%;
    height: auto;
    object-fit: center;
    margin-bottom: 32px;
  }
  .body-articel{
    max-width: 780px;
    p {
      margin-bottom: 24px;
      text-align: justify;
    }
    h4{
      margin-bottom: 24px;
    }
  }
}

#blogRecomendation{
  max-width: 780px;
  .blog-rekomendation{
    margin-top: 32px;
    gap: 32px;
    .card-rekomendation{
      span{
        padding: 2px 10px;
        border-radius: 16px;
        background: $color-primary-50;
        color: $color-primary-80;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
      }
    }
  }
}

@media(max-width: 620px) {
  .card-rekomendation.d-flex{
    img{
      width: 100%;
      height: auto; 
      object-fit: center; 
    }
    flex-direction: column;
  }
}

// detail-kejawanan.html
// =====================================
#detailKejawanan{
  .head-articel{
    max-width: 780px;
    margin-bottom: 32px;
    span{
      padding: 2px 10px;
      border-radius: 16px;
      background: $color-primary-50;
      color: $color-primary-80;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
    }
    p{
      margin-bottom: 0;
    }
  }
  iframe{
    max-width: 978px;
    width: 100%;
    height: 500px;
    object-fit: center;
    margin-bottom: 32px;
  }
  .body-articel{
    max-width: 780px;
    p {
      margin-bottom: 24px;
      text-align: justify;
    }
    p.indent{
      text-indent: 32px;
    }
    h4{
      margin-bottom: 24px;
    }
  }
}

@media(max-width: 620px) {
  #detailKejawanan{
    iframe{
      height: 150px;
    }
  }
}

// all-blog.html
// =====================================
#searchBlog{
  .title{
    max-width: 800px;
    margin-bottom: 32px;
  }
  .search{
    max-width: 800px;
    width: 100%;

    .filter-search{
      width: 100%;
    }
    .filter-tab{
      overflow-y: auto;
      .item-filter.active{
        color: $color-primary-80;
        font-weight: 500;
      }
      .item-filter{
        cursor: pointer;
        text-transform: capitalize;
        white-space: nowrap;
      }
      .item-filter:hover{
        font-weight: 500;
      }
    }
  }
}
#listBlog{
  .parent {
    display: grid; 
    justify-content: space-between;
    gap: 32px; 
    grid-template-areas: 
      "nth1 nth1 nth1 nth2 nth2 nth2"
      "nth1 nth1 nth1 nth3 nth3 nth3"
      "nth1 nth1 nth1 nth4 nth4 nth4"
      "nth1 nth1 nth1 nth5 nth5 nth5"
      "nth6 nth6 nth7 nth7 nth8 nth8";  
      a {
        text-decoration: none;
      }
      span {
        padding: 2px 10px;
        border-radius: 16px;
        background: $color-primary-50;
        color: $color-primary-80;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
      }
      .card-blog:nth-child(1) { 
        grid-area: nth1; 
      }
      .card-blog:nth-child(2) { 
        grid-area: nth2; 
      }
      .card-blog:nth-child(3) { 
        grid-area: nth3; 
      }
      .card-blog:nth-child(4) { 
        grid-area: nth4; 
      }
      .card-blog:nth-child(5) { 
        grid-area: nth5; 
      }
      .card-blog:nth-child(6) { 
        grid-area: nth6; 
      }
      .card-blog:nth-child(7) { 
        grid-area: nth7; 
      }
      .card-blog:nth-child(8) { 
        grid-area: nth8; 
      }
    
      .card-blog:nth-child(2),
      .card-blog:nth-child(3),
      .card-blog:nth-child(4), 
      .card-blog:nth-child(5){ 
        .card{
          display: flex;
          flex-direction: row-reverse;
          gap: 16px;
          img{
            width: 120px;
            height: 120px;
            object-fit: center;
          }
          .card-body {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            .mt-3{
              margin-top: 0!important;
            }
            .heading-3{
              font-family: $font-family-poppins;
              font-style: normal; 
              font-weight: 600; 
              font-size: 20px;  
              line-height: 28px;  
              color: $color-text-title; 
            }
            p, span {
              display: none;
            }
          }
        }
      }

      .card-blog:nth-child(6),
      .card-blog:nth-child(7),
      .card-blog:nth-child(8){

          width: 400px;
          img{
            width: 100%;
            max-width: 400px;
          }
      }
  }
}


@media(max-width: 820px) {
  #listBlog{
  .parent{
    display: grid; 
    justify-content: center;
    gap: 32px; 
    grid-template-areas: 
    "nth1"
    "nth2"
    "nth3"
    "nth4"
    "nth5"
    "nth6"
    "nth7"
    "nth8"; 
    .card-blog{
      max-width: 400px;
    }
    .card-blog:nth-child(1) {
      grid-area: nth1; 
    }
    .card-blog:nth-child(2) {
      grid-area: nth2; 
    }
    .card-blog:nth-child(3) {
      grid-area: nth3; 
    }
    .card-blog:nth-child(4) {
      grid-area: nth4; 
    }
    .card-blog:nth-child(5) {
      grid-area: nth5; 
    }
    .card-blog:nth-child(6) {
      grid-area: nth6; 
    }
    .card-blog:nth-child(7) {
      grid-area: nth7; 
    }
    .card-blog:nth-child(8) {
      grid-area: nth8; 
    }
    .card-blog:nth-child(2),
    .card-blog:nth-child(3),
    .card-blog:nth-child(4), 
    .card-blog:nth-child(5){ 
      .card{
      display: block;
      flex-direction: row-reverse;
      gap: 16px;
      img{
        width: 100%;
        height: auto;
        object-fit: center;
      }
      .card-body {
          display: block;
          .mt-3{
            margin-top: 16px!important;
          }
          .heading-3{
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: $color-text-title;
          }
          p, span {
            display: inline-block;
          }
        }
      }
    }
  }
}
}