// import font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variable
$color-primary-80: #007ADC; // button default
$color-primary-50: #D9EBFA;
$color-text-title: #232631; // title
$color-text-desc-1: #374151;  // desc title, paraghrap
$color-text-desc-2: #656565; // desc card
$color-stroke: #6D7280; // border color
$bg-color-whhite: #FFFFFF; // bg section white
$bg-color-blue: #F6FBFF; //bg color
$font-family-poppins: 'Poppins', sans-serif;

// set properties
* {
  margin: 0;
  padding: 0;
  font-family: $font-family-poppins;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img {
  max-width: 100%;
}
.section-padding {
  padding: 96px 0px;
}
.bg-blue{
  background-color: $bg-color-blue;
}
.bold-600{
  font-weight: 600 !important;
}
.mb-48 {
  margin-bottom: 48px;
}

// text
.heading-1{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: $color-text-title;
}
.heading-2{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: $color-text-title;
}
.heading-3{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $color-text-title;
}
.heading-4{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $color-text-title;
}
.text-desc-1{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-text-desc-1;
}
.text-desc-2{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $color-text-desc-2;
}
.text-desc-3{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-text-desc-2;
}
.txt-blue{
  color: $color-primary-80;
}

// container
.container{
  max-width: 1200px;
}

// navbar component
.navbar a {
  font-family: $font-family-poppins;
  font-weight: 500;
  font-size: 12pt;
}
.navbar li{
  margin-right: 30px;
}
// end navbar component

// index.html
// =====================================
// home component
.txt-home{
  padding-top: 15px;
}
.img-home{
  width: 80%;
}
#home button{
  height: 47px;
}
// end home component

// keunggulan_pantai component
#keunggulan-pantai .heading-2{
  margin-bottom: 48px;
}
#keunggulan-pantai .card-title{
  margin: 16px 0px;
  font-weight: 600;
}
#keunggulan-pantai .d-grid{
  margin-top: 48px;
}
#keunggulan-pantai img{
  width: 58px;
  height: 58px;
}
// end keunggulan_pantai component

// tentang pantai component
.img-tentang-pantai{
  width: 90%;
}
#tentang-pantai .text-desc-2{
  margin-top: 24px;
  text-align: start;
}
#tentang-pantai button{
  height: 47px;
}
// end tentang pantai component

// fasilitas pantai component
#fasilitas-pantai img {
  width: 90%;
}
.mt-fasilitas-pantai{
  margin-top: 32px !important;
}
#fasilitas-pantai .mt-32{
  margin-top: 32px !important;
}
#fasilitas-pantai .text-desc-1{
  font-weight: 600;
}
// end fasilitas pantai component

// kuliner
#kuliner{
  .heading-2{
    margin-bottom: 48px;
  }
  .swiper {
    .swiper-slide {
      max-width: 260px!important;
      img{
        max-width: 260px!important;
        margin-bottom: 16px;
      }
    }
  }
}
// end kuliner

// kuliner
#ulasan{
  p.text-desc-2{
    max-width: 340px;
  }
  .swiper-slide{
    cursor: grab;

    .ulasan-text{
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-align: justify;
      color: $color-text-title;
      margin-bottom: 32px;
    }
    img{
      width: 40px;
      height: 40px;
    }
    h6.text-desc-2{
      color: $color-text-title;
      font-weight: 500;
      margin: 0;
    }
  }
  .swiper-pagination{
    text-align: right!important;
    .swiper-pagination-bullet{
      background: #93C5FD;
    }
    swiper-pagination-bullet-active{
      background: #3B82F6;
    }
  }
}
// end kuliner

// informasi pantai
#informasi-pantai .heading-2{
  margin-bottom: 64px;
}
#informasi-pantai .mt{
  margin-top: 0px;
}

#informasi-pantai button {
  height: 47px;
}
// end informasi pantai

// new blog
#blog-terbaru button {
  height: 47px;
}

#blog-terbaru img {
  width: 100%;
}

#blog-terbaru a {
  text-decoration: none;
}

#blog-terbaru .text-desc-2 {
  text-align: justify;
}

#blog-terbaru span {
  padding: 2px 10px;
  border-radius: 16px;
  background: $color-primary-50;
  color: $color-primary-80;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
// end new blog

@media (min-width: 320px) and (max-width: 480px) {
  .txt-home {
    padding: unset;
  }

  #imgTagLine {
    display: none;
  }

  .section-padding {
    padding: 43px 0px;
  }
    
  .img-tentang-pantai {
    width: 100%;
    margin-bottom: 24px;
  }
  
  #fasilitas-pantai img {
    display: none;
  }
  
  #fasilitas-pantai .mt-32 {
    margin-top: unset !important;
  }

  #informasi-pantai .mt {
    margin-top: 1rem;
  }

  #blog-terbaru .card {
    margin-bottom: 36px;
  }
}

// detail-blog.html
// =====================================
#detailBlog{
  .head-articel{
    max-width: 780px;
    margin-bottom: 32px;
    span{
      padding: 2px 10px;
      border-radius: 16px;
      background: $color-primary-50;
      color: $color-primary-80;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
    }
    p{
      margin-bottom: 0;
    }
  }
  img{
    max-width: 978px;
    width: 100%;
    height: auto;
    object-fit: center;
    margin-bottom: 32px;
  }
  .body-articel{
    max-width: 780px;
    p {
      margin-bottom: 24px;
      text-align: justify;
    }
    h4{
      margin-bottom: 24px;
    }
  }
}

#blogRecomendation{
  max-width: 780px;
  .blog-rekomendation{
    margin-top: 32px;
    gap: 32px;
    .card-rekomendation{
      span{
        padding: 2px 10px;
        border-radius: 16px;
        background: $color-primary-50;
        color: $color-primary-80;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
      }
    }
  }
}

@media(max-width: 620px) {
  .card-rekomendation.d-flex{
    img{
      width: 100%;
      height: auto; 
      object-fit: center; 
    }
    flex-direction: column;
  }
}